@{
    ViewBag.Title = "Referral Page";
    var userListData = ViewBag.userList;
}
<style>
    #UserTable
    {
        display:none;
    }
    #AddUserBtn {
        display:none;
        margin-bottom:25px;
    }
</style>

<h1>User Data</h1>
<br />
<button type="button" id="AddUserBtn" class="btn btn-outline-success">Add User</button>

<div id="userListTable">
    <table id="UserTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>User Name</th>
                <th>Balance</th>
                <th>Deposit</th>
                <th>PerDayProfit</th>
                <th>PerWeekProfit</th>
                <th>PerMonthProfit</th>
                <th>Email</th>
                <th>Deposit Date</th>
                <th>IsActive</th>
            </tr>
        </thead>
        <tbody>
         
        </tbody>
    </table>


</div>



<div class="modal fade" id="AddUserDataModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add User Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label for="GoldUserId">Gold UserId</label>
                    <input type="text" class="form-control" id="GoldUserId">
                </div>
                <div class="form-group">
                    <label for="UserName">User Name</label>
                    <input type="text" class="form-control" id="UserName">
                </div>
                <div class="form-group">
                    <label for="Balance">Balance</label>
                    <input type="text" class="form-control" id="Balance">
                </div>
                <div class="form-group">
                    <label for="Deposit">Deposit</label>
                    <input type="text" class="form-control" id="Deposit">
                </div>

                <div class="form-group">
                    <label for="userEmail">Email address</label>
                    <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="userPassword">Password</label>
                    <input type="password" class="form-control" id="userPassword">
                </div>

                <div class="form-group">
                    <label for="ConfPass">Confirm Password</label>
                    <input type="password" class="form-control" id="ConfPass">
                </div>

                <div class="form-group">
                    <label for="Phone">Phone</label>
                    <input type="text" class="form-control" id="Phone">
                </div>

                <div class="form-group">
                    <label for="DepositDate">Deposit Date</label>
                    <input type="text" class="form-control" id="DepositDate">
                </div>
                <div class="form-group">
                    <label for="Percent">Percent</label>
                    <input type="text" class="form-control" id="Percent">
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="isActive">
                    <label class="form-check-label" for="isActive">IsActive</label>
                </div>

                <div class="form-group ">
                    <select class="form-select form-select-sm form-control" id="selectUser" aria-label=".form-select-sm example">
                        <option value="1">Referral Person </option>
                        @foreach (var item in userListData)
                        {
                            <option value=@item.Id>@item.Email</option>
                        }
                    </select>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="AddUser" onclick="AddUserData()"  class="btn btn-primary">Save User</button>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script>
        $("#AddUserBtn").click(function () {
            $("#AddUserDataModel").modal('show');
        });
        function AddUserData()
        {
            debugger
            var GoldUserId = $("#GoldUserId").val();
            var UserName = $("#UserName").val();
            var Balance = $("#Balance").val();
            var Deposit = $("#Deposit").val();
            var userEmail = $("#userEmail").val();
            var userPassword = $("#userPassword").val();
            var confirmPass = $("#ConfPass").val();
            var Phone = $("#Phone").val();
            var DepositDate = $("#DepositDate").val();
            var Percent = $("#Percent").val();
            var isActive = false;
            if ($('#isActive').is(":checked")) {
                isActive = true;
            } else
            {
                isActive = false;
            }
            var referralPerson = $("#selectUser option:selected").val();

            if (GoldUserId == "")
            {
                alert("Enter gold user id");
                return;
            }

            if (UserName == "") {
                alert("Enter username");
                return;
            }
            if (Balance == "") {
                alert("Enter balance");
                return;
            }
            if (!$.isNumeric(Balance) ) {
                alert("Enter valid balance amount");
                return;
            }

            if (Deposit == "") {
                alert("Enter balance");
                return;
            }
            if (!$.isNumeric(Deposit)) {
                alert("Enter valid deposite amount");
                return;
            }
            if (Deposit<Balance) {
                alert("Deposite amount cannot be less thatn balance");
                return;
            }
            if (userEmail == "") {
                alert("Enter email address");
                return;
            }
            if (userPassword == "") {
                alert("Enter password");
                return;
            }
            if (confirmPass == "") {
                alert("Enter confirm password");
                return;
            }
            if (userPassword != confirmPass)
            {
                alert("confirm password munst be same")
            }
            if (Percent == "") {
                alert("enter percentage")
            }

            var userModel = {
                "GoldUserId": GoldUserId,
                "GoldUserUserName": UserName,
                "Balance": Balance,
                "Deposit": Deposit,
                "Email": userEmail,
                "Password": userPassword,
                "ConfirmPassword": confirmPass,
                "Phone": Phone,
                "DepositDate": DepositDate,
                "Percent": Percent,
                "isActive": isActive,
                "ReferralPerson": referralPerson
            }

            $.ajax({
                url: "/Client/AddUserData",
                type: "post",
                data: { "model": userModel },
                success: function (data) {
                    debugger
                    if (data.success) {
                        alert("User added successfully");
                        $("#AddUserDataModel").modal('hide');
                        window.location.reload();

                    } else
                    {
                        alert("error while adding data");
                    }
                  
                }

            });
        }


        $(document).ready(function () {
            loadTable();
        });
        function loadTable() {
            debugger
            $.ajax({
                url: "/Client/GetUserList",
                type: "get",
                success: function (data) {
                    debugger
                    $('#UserTable').show();
                    $("#AddUserBtn").show();
                    $('#UserTable').DataTable().clear().destroy();
                    table = $('#UserTable').DataTable({
                        "paging": true,
                        "lengthChange": true,
                        "searching": true,
                        "ordering": true,
                        "info": true,
                        "autoWidth": false,
                        "responsive": true,
                        "pageLength": -1,
                        "lengthMenu": [[-1, 10, 25, 50, 100], ["All", 10, 25, 50, 100]],
                        "deferLoading": 600,
                        "aaData": data,
                        "columns": [
                            { "data": "Id", "visible": false },
                            { "data": "GoldUserName" },
                            { "data": "Balance" },
                            { "data": "Deposit" },
                            { "data": "PerDayProfit" },
                            { "data": "PerWeekProfit" },
                            { "data": "PerMonthProfit" },
                            { "data": "Email" },
                            { "data": "DepositDateStr" },
                            //{ "data": "IsActive" },
                            {
                                "data": null, "className": "text-center", render: function (data, type, row) {
                                    if (data.IsActive == true) {
                                        return "<div class='custom-control custom-switch'>" +
                                            "<input type='checkbox' class='custom-control-input ToggleCheckBox' value='' id='" + data.Id + "' checked/>" +
                                            "<label class='custom-control-label'  for='" + data.Id + "'</label></div>"

                                    } else {
                                        return "<div class='custom-control custom-switch'>" +
                                            "<input type='checkbox' class='custom-control-input ToggleCheckBox' value='' id='" + data.Id + "'/>" +
                                            "<label class='custom-control-label'  for='" + data.Id + "'</label></div>"
                                    }

                                }
                            },

                        ],
                        "order": [[1, 'asc']],
                    });

                }
            });
        }
    </script>

}
